* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

.mw-150px {
  min-width: 150px !important;
}

@media only screen and (min-width: 768px) {
  #chat-page-img-interlocutor {
    width: 50% !important;
  }
  #btn-to-send-msg {
    width: 61.6px !important;
  }
  .w-75 {
    width: 50% !important;
  }
}
